<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
        <title>List calendars</title>
        <style>
            pre {
                white-space: pre-wrap;       /* css-3 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;
            }
            body {
                width: 80%;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <h2>Calendar create</h2>
        <form action="/calendars" method="post" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="Calendar Name">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
        <hr>
        <h2>Calendars list</h2>
        <ul class="calendars-list"></ul>
        <hr>
        <h2>API response detail</h2>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show detail
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <pre id="json">
                </pre>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <script>
        var response = "{{ .response }}";
        if (response.length) {
            let jsResp = JSON.parse(response);
            $('#json').text(JSON.stringify(jsResp, undefined, 2), undefined, 2);

            for (let i in jsResp.value) {
                $('.calendars-list').append(`<li><a href="/calendars/${jsResp.value[i].id}">${jsResp.value[i].name}</a> - (Owner ${jsResp.value[i].owner.name})</li>`)
            }
        }
    </script>
</html>