<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
        <style>
            pre {
                white-space: pre-wrap;       /* css-3 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;
            }
            body {
                width: 80%;
                margin: 0 auto;
            }
        </style>
        <title></title>
    </head>

    <body>
        <h2>Calendar Name: <span class="calendar-name"></span></h2>
        <h3>Owner: <span class="calendar-owner"></span></h3>
        <hr>

        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Create Calendar event
            </button>
            <a class="btn btn-primary" href="/calendars">
                Back to calendars list
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="#" class="add-event" method="post">
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" name="subject" class="form-control" id="subject">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Content</label>
                        <input type="text" name="content" class="form-control" id="content">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control" id="location">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Start time</label>
                        <input type="text" name="start" class="form-control" id="start">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">End time</label>
                        <input type="text" name="end" class="form-control" id="end">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </body>
    <hr>
    <h2>Events list</h2>
    <ul class="calendar-events"></ul>
    <hr>
    <h2>API response detail</h2>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Show detail
        </button>
    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <pre id="json1">
            </pre>
            <pre id="json2">
            </pre>
        </div>
    </div>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<script>
    $('#start').datetimepicker({
        dateFormat: "yy-mm-dd HH:ii:ss",
    });
    $('#end').datetimepicker({
        dateFormat: "yy-mm-dd HH:ii:ss",
    });
    let response1 = "{{ .calendar }}";
    if (response1.length) {
        let jsResp = JSON.parse(response1);
        $('#json1').text(JSON.stringify(jsResp, undefined, 2), undefined, 2);
        $('.calendar-name').append(jsResp.name);
        $('.calendar-owner').append(jsResp.owner.name);
        $('title').append(jsResp.name + ' - ' + jsResp.owner.name);
        $('.add-event').attr('action', `/calendars/${jsResp.id}/events`);
    }

    let response2 = "{{ .events }}";
    if (response2.length) {
        let jsResp = JSON.parse(response2);
        $('#json2').text(JSON.stringify(jsResp, undefined, 2), undefined, 2);
        for (let i in jsResp.value) {
            $('.calendar-events').append(`
                <li>
                    <b>Title: ${jsResp.value[i].subject}</b><br>
                    Start time: ${jsResp.value[i].start.dateTime}<br>
                    End time: ${jsResp.value[i].end.dateTime}<br>
                    Location: ${jsResp.value[i].location.displayName}<br>
                    Content: ${jsResp.value[i].body.content}
                </li>
            `); // refactor next time for loop attendees
        }
    }
</script>
